<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <% if (process.env.NODE_ENV === 'production') { %>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.0/css/tachyons.min.css"/>
  <% } else { %>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.0/css/tachyons.css"/>
  <% } %>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto"/>
  <link rel="stylesheet" href="css/main.css"/>

  <title><%= pageTitle %></title>
</head>
<body class="w-100 roboto">
  <div id="__APP__DATA__" data-state="<%= initialState %>"></div>

  <main class="w-100">
    <section class="mw9 center ph3-ns">
      <div id="table"></div>
    </section>
  </main>

  <script src="js/vendor.js"></script>
  <script src="js/home.js"></script>
</body>
</html>
